

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<script type="text/javascript">
/*
    function myFunction() {
        alert("Page is loaded");
        clickboton(); 
    }

    function clickboton()
    {
        document.form1.btn.click();
        alert("se presiono el boton uno ");
    }
    */
    $(document).ready(function () {
      //  var marcado2 = $('#txtNombre').val();
  //      var ThematicName = '@ViewBag.Nombre';
   //    var ThematicName2 = '@User.Identity.Name' ;
    //     alert("es undefinido  "  + ThematicName2);
    //    alert("es undefinido  " + ThematicName);
     //    $("#txtNombres").val(ThematicName2);
      //   var marcado2 = $('#txtNombres').val();

  //        alert("marcado" + marcado2); 

        
      //    $("#btn").click();
      //  alert("es undefinido  " + marcado2);
          //  $("#cuentas").val(0);
         //   $("#activo").val(1);


          //  $(pasword).val("#pas");
          //  $(pas2).val("#txtApellido");
        //    $("#nomb").val("#txtNombre");
         //   $("#nomb").val($("#txtNombre").val());
           ;

         //   alert("es undefinido  " + marcado);


         //   alert("se tiene las contraseñas " + pasword + marcado + ":" + pas2 + "igual" + pasword);
        /*    if (marcado === undefined )
            {
                alert("es undefinido  ");
         //       alert("pasword son iguales ");
            }
            else if( marcado !== null)
            {
                alert("es disntinto de nulo ");
          //      $("#btn").prop('disabled', false);

            }
            else if (marcado != ' ') {
                alert("es disntinto de vacio nulo ");
                $("#btn").prop('disabled', false);

            }
            else
            {
                alert("es nulo ");
     //           alert("pasword no  son iguales ");
            }
            */


         

        


    });
    
</script>

<h1>Bienvenido a la pagina OKTDESK </h1>

<br />




